.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.active-workout-set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

.active-workout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(52, 52, 52);
  border: 1px solid rgb(255, 255, 255, 0.06);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin-top: 2rem;

}

.active-workout-ex-icon {
  max-height: 10rem;
  max-width: 10rem;
  margin-right: 3rem;
}

.active-workout-b-p-set-wrapper {
  text-align: left;
  display: flex;
}

.active-workout-b-p-set {
  margin-right: 1rem;
}

.fieldset-wrapper {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;

}

.active-workout-current-set-text {
  font-size: clamp(1.6rem, 1.3vw, 1.8rem);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.set-text {
  font-size: clamp(1.3rem, 1vw, 1.5rem);

}

.active-workout-set-inner-wrapper {
  display: flex;
  background-color: rgb(43, 43, 43);
  border-radius: 10rem;
  padding: clamp(0.5rem, 2vw, 0.8rem) clamp(1.3rem, 2vw, 1.8rem);
  border: 1px solid rgb(255, 255, 255, 0.06);

}

.active-workout-set-input-wrapper {
  margin-left: 1rem;
  font-size: clamp(1.3rem, 1vw, 1.5rem);

}


.active-workout-weight-input {
  background-color: rgb(75, 75, 75);
  border: none;
  max-width: 3rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 1rem;
  font-weight: 600;

}

.active-workout-weight-input::-webkit-outer-spin-button,
.active-workout-weight-input::-webkit-inner-spin-button,
.active-workout-reps-input::-webkit-outer-spin-button,
.active-workout-reps-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.active-workout-reps-input {
  background-color: rgb(75, 75, 75);
  border: none;
  max-width: 3rem;
  color: white;
  text-align: center;
  margin-left: 0.5rem;
  border-radius: 1rem;
  font-weight: 600;

}

.active-workout-wrapper-outer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.active-workout-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 25rem;
}

.active-workout-ex-icon {
  width: clamp(12rem, 11vw, 17rem);
  margin-right: 2rem;
  border-radius: 1rem;
}

.active-workout-ex-name {
  font-weight: 600;
  font-size: clamp(1.7rem, 1vw, 2rem);
}


.active-workout-b-p-set-wrapper {
  display: flex;
  background-color: rgb(43, 43, 43);
  border: 1px solid rgb(255, 255, 255 0.06);
  padding: clamp(0.5rem, 2vw, 0.8rem) clamp(1.3rem, 2vw, 1.8rem);
  border-radius: 10rem;
}

.active-workout-b-p-set {
  font-size: clamp(1.3rem, 1vw, 1.5rem);
}

.active-workout-b-p-set-value {
  color: rgb(240, 240, 240);
  font-weight: 700;
  font-size: clamp(1.6rem, 1.3vw, 1.6rem);
}

.active-workout-best-set-title,
.active-workout-previous-set-title {
  font-weight: 600;
  color: rgb(240, 240, 240);
  margin-bottom: 0.5rem;
  font-size: clamp(1.6rem, 1.3vw, 1.8rem);
}

.active-workout-wrapper-previous-set-wrapper,
.active-workout-best-set-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}


.active-workout-best-previous-set-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

}

@media (min-width: 500px) {
  .active-workout-best-previous-set-wrapper {
    justify-content: flex-start;
  }

}

@media (min-width: 800px) {
  .active-workout-wrapper-outer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 1rem;
    align-items: center;
  }

  .active-workout-best-previous-set-wrapper {
    justify-content: center;
    flex: 1 1 auto;
  }

  .active-workout-wrapper-previous-set-wrapper,
  .active-workout-best-set-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 500px) {
  .active-workout-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}