ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-style:unset;
  text-decoration-thickness: unset;
  cursor: pointer;
}

a:hover{
  opacity: 0.8;
}

.hr {
  margin: 2rem 0;
}


main {
  flex-grow: 1;
  margin: 0 2rem;
}

.menu-button-wrapper {
  background-color: rgb(41, 41, 41);
  display: block;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background-color: rgb(41, 41, 41);
  border: none;
  flex: 1 1 auto;
}

.menu-button-icon {
  width: clamp(4.2rem, 4.2vw, 6.2rem)
}

.sidebar,
.sidebar-is-open {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
  padding: 1rem 2rem;
  width: 27rem;
}

.sidebar-is-open {
  position: fixed;
  height: 100%;
}

.title-img {
  width: 5rem;
  margin-right: 1rem;
}

.title {
  font-size: 2.5rem;
  text-wrap: nowrap;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.close-menu-btn {
  margin-left: 4rem;
  background-color: rgb(41, 41, 41);
  border:none;
}

.close-menu-icon {
  width: 1.8rem;
}

.sidebar-nav-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
}

.sidebar-nav-link-title {
  font-size: 1.8rem
}
.sidebar-nav-link img {
  max-width: 3.7rem;
  margin-right: 1rem;
}

@media (max-width: 940px) {
  .sidebar {
    display: none;
  }

  .menu-button-wrapper {
    display: block;
  }
}

@media (min-width: 940px) {
  .close-menu-btn {
    display: none;
  }

  .sidebar-is-open {
    height: 100vh;
    width: 27rem;
  }

  .menu-button-wrapper {
    display: none;
  }

  .title-header {
    justify-content: flex-start;
  }
}