.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
}

.skip-link:focus {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  background: #313131;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;

}

.layout {
  display: flex;
  min-height: 100vh;
  gap: 2rem;
  padding-right: 2rem;
}

.main-content {
  box-sizing: border-box;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

@media (max-width: 940px) {

  .layout {
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 940px) {
  .main-content {
    max-width: 1000px;
  }
}